
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

/*Generales*/
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}

/*Barra escondida */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff59d;
}
body::-webkit-scrollbar{
  background-color: transparent;
  width:3px;
}
body::-webkit-scrollbar-thumb{
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  min-height: 3px;
}

/*Header*/
.header{
  background-color: #1b3039;
  display:flex;
  justify-content: space-between;
  align-items:center;
  height:85px;
  padding:5px 10%;
}

.header .logo{
  cursor:pointer;
}
.header .logo img{
  height:70px;
  width:auto; 
  transition: all 0.3s;
  border-radius:50%;
}
.header .logo img:hover{
  transform: scale(1.2);
}

.header .nav-links{
  list-style: none;
}
.header .nav-links li{
  display: inline-block;
  padding: 0 20px;
  transition: all 0.3s;
}
.header .nav-links li:hover{
  transform: scale(1.2);
}
.header .nav-links a{ 
  text-decoration: none;
  color: #fff;
}
.header .nav-links a:hover{
  color: #b33337;
}

.header button{
  font-size: 120%;
  color: #1b3039;
  padding: 8px 18px;
  background: #fff;
  border:none;
  cursor:pointer;
  border-radius: 40px;
  transition: all 0.3s ease 0s;
}
.header button:hover{
  transform: scale(1.2);
  color: #b33337;
}

.title-home{
  font-size: 200%;
}
.links-home{
  font-size: 150%;
}

#sidebar-active{
  display:none;
}
.open-sidebar-button, .close-sidebar-button{
  display:none;
}
.link-contact{
  display:none;
}
/* Estilos para dispositivos móviles */
@media only screen and (max-width: 849px) {
  .link-contact{
    display:inline;
  }
  .header{
    display:flex;
    justify-content: space-between; /* Añade esta línea para establecer un contexto de posición */
  }
  .header img{
    justify-content: start;
  }
  .header .nav-links li {
    display: block;
    padding: 16px 0;
    
  }

  .header .nav-links {
    flex-direction:column;
    align-items:flex-start;
    position: fixed;
    padding: 5%;
    top: 0;
    right: -100%;
    z-index: 10;
    height:100%;
    background-color: #1b3039;
    box-shadow:5px 0 5px rgba(0,0,0,0.25);
    transition:0.6s ease-out;
  }

  #sidebar-active:checked ~ .nav-links{
    right: 0;
  }

  .open-sidebar-button, .close-sidebar-button {
    display: block;
    cursor: pointer;
    
  }
  
  .header .nav-links a {
    box-sizing:border-box;
    height:auto;
    padding: 20px 30px;
    justify-content:flex-start;
    font-size: 20px;
    
  }
  .header .nav-links li:hover{
    transform: scale(1);
  }

  .header button {
    display: none;
  }

  .header .logo img {
    height: 50px;
    width: auto;
  }
  #sidebar-active:checked ~ #overlay{
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index: 9;
  }
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: calc(100% / 3 - 30px);
  margin: 10px;
  background-color: #f0ebd7;   
  border: 2px #a9a27c;
  border-radius: 1.5rem;
  padding: 20px;  /* espacio interior */
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-color: rgb(175, 135, 25);
}
  
.card img {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  border-radius: 10px;
}
  
.card h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
  
.card p {
  margin: 0;
}
.card a{
  color: #5a5431;
}

.card button{
  background-image: linear-gradient(to bottom right, #a9a27c, #e0d8b0);
  border: 2px solid #756f4b;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 10px 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.card button:hover{
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #e0d8b0, #a9a27c);
}
.button-container button {
  float:left;
  margin-right: 1px;
}




h1 {
  color:  #615c3f;
  font-size: 50px;
  padding: 10px;
  font-family:georgia;
  text-shadow: 2px 2px 2px #fdc324;
}
h2 {
  color:  #7a5c3c;
  font-size: 30px;
  padding: 10px;
  font-family: georgia;
  text-shadow: 2px 2px 2px #f7811a91 ;
}
p{
  font-family: georgia;
}





footer {
  background-color:#333;  
  color:  #ffffff; 
  padding: 10px; 
  position: absolute; 
  bottom: 0; /* fijar en la parte inferior de la pantalla */
  position: relative;/* para que siempre quede abajo sin importar que*/
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column; /* orientación de los elementos, uno debajo del otro */
  }
}
  
@media only screen and (max-width: 600px) {
  .card {
    width: calc(100% - 20px);
  }
}

@media (max-width: 600px) {
  header img {
    margin: 20px;
    width: auto;
    max-width: auto;
    height: 150px;
  }
}

@media (max-width:600px) {
header{
  height: 190px;
  font-size: 1.4rem;
}
@media (max-width:360px) {
  header{
    height: 190px;
    font-size: 1.2rem;
  }
}
@media (max-width:323px) {
  header{
    height: 190px;
    font-size: 1rem;
  }
}
}